@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

  .button-default {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300;
    @apply dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    @apply font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none;

    &:disabled {
      @apply bg-blue-400 dark:bg-blue-500 cursor-not-allowed;
    }
  }

  .button-alt {
    @apply py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4;
    @apply text-gray-900 bg-white border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-gray-100;
    @apply dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
  }

  .dropdown {
    @apply relative;
  }

  .dropdown-button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300;
    @apply dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center;

    &:disabled {
      @apply bg-blue-400 dark:bg-blue-500 cursor-not-allowed;
    }
  }

  .dropdown-menu {
    @apply z-10 bg-white rounded-lg shadow  text-gray-700 dark:text-gray-200 absolute w-full overflow-y-auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .dropdown-menu-items {
    @apply divide-y divide-gray-100;
    @apply py-2 text-sm;
  }

  .dropdown-menu-item {
    @apply cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
  }

  .dropdown-menu-item-active {
    @apply bg-blue-100 dark:bg-blue-700;
  }

  .inputtext-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .inputtext-box {
    @apply bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500;
    @apply dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    @apply text-sm rounded-lg block w-full p-2.5;

    &:disabled {
      @apply cursor-not-allowed;
    }
  }

  .fileinput-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .fileinput-box {
    @apply text-gray-900 border border-gray-300 bg-gray-50;
    @apply dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400;
    @apply block w-full text-sm rounded-lg cursor-pointer focus:outline-none;
  }

  .dropzone-label {
    @apply flex flex-col items-center justify-center pt-5 pb-6;
    @apply text-gray-500 dark:text-gray-400;
  }

  .dropzone-box {
    @apply flex flex-col items-center justify-center border-2 border-dashed rounded-lg cursor-pointer w-full;
    @apply border-gray-300 bg-gray-50 hover:bg-gray-100;
    @apply dark:hover:bg-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600;
  }

  .progressbar-container {
    @apply w-full relative bg-gray-400 rounded-full h-max dark:bg-gray-700;
  }

  .progressbar-label {
    @apply absolute w-full text-center text-sm space-x-1 text-white;
  }

  .progressbar-bar {
    @apply bg-blue-600 h-2.5 rounded-full;
  }
}